.pickmeup {
  background: #ffffff;
  border-radius: 8px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  position: absolute;
  touch-action: manipulation;
  z-index: 100;
}
.pickmeup * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pickmeup.pmu-flat {
  position: relative;
}
.pickmeup.pmu-hidden {
  display: none;
}
.pickmeup .pmu-instance {
  display: inline-block;
  height: 13.8em;
  padding: 0.5em;
  text-align: center;
  width: 15em;
}
.pickmeup .pmu-instance .pmu-button {
  color: #0e1529;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
}
.pickmeup .pmu-instance .pmu-today {
  background: #17384d;
  color: #fca70e;
}
.pickmeup .pmu-instance .pmu-button:hover {
  background: transparent;
  color: #fca70e;
}
.pickmeup .pmu-instance .pmu-not-in-month {
  color: #666;
}
.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
  color: #333;
  cursor: default;
}
.pickmeup .pmu-instance .pmu-selected {
  background: #0e1529;
  color: #fca70e;
  border-radius: 8px;
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
  background: #17384d;
}
.pickmeup .pmu-instance nav {
  color: #eee;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  line-height: 2em;
}
.pickmeup .pmu-instance nav *:first-child :hover {
  color: #fca70e;
}
/* .pickmeup .pmu-instance nav .pmu-prev {
  background: url("/assets/images/icons/arrow-left-s-line.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.pickmeup .pmu-instance nav .pmu-next {
    background: url("/assets/images/icons/arrow-right-s-line.svg");
    background-position: center;
    background-repeat: no-repeat;
  } */
.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next {
  display: none;
  height: 2em;
  width: 1em;
}
.pickmeup .pmu-instance nav .pmu-month {
  width: 14em;
}
.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * {
  display: inline-block;
  line-height: 3.6em;
  width: 3.5em;
}
.pickmeup .pmu-instance .pmu-day-of-week {
  color: #0e1529;
  font-weight: bold;
  cursor: default;
  background-color: #fca70e;
}
.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
  display: inline-block;
  line-height: 2em;
  width: 2em;
  font-weight: lighter;
}
.pickmeup .pmu-instance .pmu-day-of-week * {
  line-height: 1.8em;
}
.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
  display: block;
}
.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
  width: 13em;
}
.pickmeup .pmu-instance:first-child:last-child .pmu-month {
  width: 12em;
}
.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years {
  display: none;
}
@media screen and (max-width: 455px) {
  .flight-form-container .btn.booking-btn.form-date {
    position: relative;
  }
  .pickmeup {
    position: absolute;
    left: 10% !important;
  }
}
